 <div id="header">
   <div class="main_menu">
     <div class="logo" >
       <img src="assets/images/Screenshot_1.png" routerLink="home" alt="">
     </div>
     <div class="menu_info">
       <a >{{'HEADER.WHO_WE_ARE'|translate}}
         <span>
           <img src="assets/images/menudown.png" class="icon" alt="">
         </span>
        </a>
       <a routerLink="WalkInClinic">{{'HEADER.WALK_IN'|translate}}</a>
       <a>{{'HEADER.SERVICES'|translate}}
         <span>
           <img src="assets/images/menudown.png" class="icon" alt="">
         </span>
        </a>
       <a>{{'HEADER.APPOINTMENTS'|translate}}</a>
       <a>{{'HEADER.CONTACT'|translate}}</a>
       <label>
        <select #langselec (change)="translate.use(langselec.value)">
          <option value="en">en</option>
          <option value="ua">ua</option>
        </select>
      </label>
     </div>

   </div>
   <div class="media_menu">
     <nav role="navigation">
       <div id="menuToggle">
         <input type="checkbox" />
         <span class="opacity1"></span>
         <span></span>
         <span></span>
         <span></span>
         <ul id="menu">
           <li>
             <a>{{'HEADER.WHO_WE_ARE'|translate}}</a>
           </li>
           <li>
             <a  routerLink="WalkInClinic">{{'HEADER.WALK_IN'|translate}}</a>
           </li>
           <li>
             <a>{{'HEADER.SERVICES'|translate}}</a>
           </li>
           <li>
             <a>{{'HEADER.APPOINTMENTS'|translate}}</a>
           </li>
           <li>
             <a>{{'HEADER.CONTACT'|translate}}</a>
           </li>
         </ul>
       </div>
     </nav>
     <div class="logo" routerLink="home">
       <img src="assets/images/Screenshot_1.png" alt="">
     </div>

     <div class="search">
       <img src="assets/images/search.png" alt="">
     </div>
     <label>
      <select #langselect (change)="translate.use(langselect.value)">
        <option value="en">en</option>
        <option value="ua">ua</option>
      </select>
    </label>
   </div>
 </div>
