.elipse12 {
  position: absolute;
  width: 37px;
  height: 37px;
  left: 1345px;
  top: 2100px;
  background-image: url(src/assets/images/Ellipse12.png);
}

.elipse13 {
  position: absolute;
  width: 9px;
  height: 9px;
  left: 1386px;
  top: 2199px;
  background-image: url(src/assets/images/Ellipse13.png);
}

.elipse14 {
  position: absolute;
  width: 37px;
  height: 37px;
  left: 1264px;
  top: 3148px;
  background-image: url(src/assets/images/Ellipse14.png);
}

.elipse15 {
  position: absolute;
  width: 12px;
  height: 12px;
  left: 1321px;
  top: 3248px;
  background-image: url(src/assets/images/Ellipse15.png);
}

.elipse16 {
  position: absolute;
  width: 37px;
  height: 37px;
  left: 43px;
  top: 3699px;
  background-image: url(src/assets/images/Ellipse16.png);
}

.elipse17 {
  position: absolute;
  width: 223px;
  height: 223px;
  left: 1126px;
  top: 3619px;
  background-image: url(src/assets/images/Ellipse17.png);
}

.elipse18 {
  position: absolute;
  width: 23px;
  height: 23px;
  left: 90px;
  top: 1653px;
  background-image: url(src/assets/images/Ellipse18.png);

}

figure {
  position: relative;
}

#section1 {
  width: 1248px;
  height: 840px;
  margin-left: 192px;
  display: flex;
  flex-direction: row-reverse;
}

.info {
  width: 462px;
  height: 477px;
  margin-top: 162px;
}

.title,
.title2 {
  font-family: HelveticaNeueCyr_Bold;
  font-weight: bold;
  font-size: 55px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #404247;
}

.info_about {
  font-family: HelveticaNeueCyr;
  font-size: 16px;
  line-height: 150%;
  color: #858A93;
  margin-top: 52px;
}

.check_button {
  width: 185px;
  height: 50px;
  box-shadow: 6px 6px 25px rgba(16, 45, 57, 0.05);
  background: linear-gradient(106.68deg, #84B1D7 2.5%, #4F7AA2 100%);
  border-radius: 50px;
  border: 0;
  font-family: HelveticaNeueCyr;
  font-weight: 550;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
  margin-top: 33px;
}

.img_block {
  width: 783.99px;
  height: 808.68px;
  position: relative;
  overflow: hidden;
}

.img_block1 {
  width: 104px;
  height: 100.68px;
}

.img_block2 {
  width: 408px;
  height: 439px;
  position: relative;
  padding-top: 50px;
  float: left;
}

.first_img {
  position: absolute;
  width: 793.99px;
  height: 678.68px;
  background-repeat: no-repeat;
  top: 60px;
  left: 25px;
}

.hover_img {
  position: absolute;
  width: 920.49px;
  height: 870.75px;
  left: -80px;
  top: -5px;
}

.elipse1 {
  position: absolute;
  width: 37px;
  height: 37px;
  left: 38px;
  top: 130px;
  background-image: url(src/assets/images/Ellipse1.png);
}

.elipse2 {
  position: absolute;
  width: 13px;
  height: 13px;
  left: 13px;
  top: 186px;
  background-image: url(src/assets/images/Ellipse2.png);
}

.elipse3 {
  position: absolute;
  width: 23px;
  height: 23px;
  left: 1286px;
  top: 107px;
  background-image: url(src/assets/images/Ellipse4.png);
}

.elipse4 {
  position: absolute;
  width: 9px;
  height: 9px;
  left: 1398px;
  top: 190px;
  background-image: url(src/assets/images/Ellipse5.png);
}

.elipse5 {
  position: absolute;
  width: 37px;
  height: 37px;
  left: 757px;
  top: 635px;
  background-image: url(src/assets/images/Ellipse6.png);
}

.elipse6 {
  position: absolute;
  width: 28px;
  height: 28px;
  left: 1344px;
  top: 820px;
  background-image: url(src/assets/images/Ellipse7.png);
}

.elipse7 {
  position: absolute;
  width: 223px;
  height: 223px;
  left: -8px;
  top: 668px;
  background-image: url(src/assets/images/Ellipse8.png);
}

#section2 {
  width: 1106px;
  height: 505px;
  margin: 0 auto;
  position: relative;
  margin-top: 30px;
  display: table;
}

.title2 {
  width: 613px;
  float: right;
}

.title_text {
  width: 514px;
  height: 100px;
  font-family: HelveticaNeueCyr_Bold;
  font-weight: bold;
  font-size: 45px;
  line-height: 110%;
  letter-spacing: 0.03em;
  margin-bottom: 55px;
}

.text {
  width: 589px;
  height: 350px;
  left: 685px;
  top: 1127px;
  font-family: HelveticaNeueCyr;
  font-size: 16px;
  line-height: 150%;
  color: #858A93;
  display: inline-block;
  margin-left: 85px;
}

.second_img {
  width: 408px;
  height: 439px;
  position: relative;
}

.fig1 {
  position: absolute;
  width: 257px;
  height: 208px;
  top: 303px;
  left: -25px;
  background: rgba(96, 139, 178, 0.17);
  border-radius: 10px;
}

.fig2 {
  position: absolute;
  width: 231px;
  height: 187px;
  left: 210px;
  top: 22px;
  background: #F7F7F7;
  border-radius: 10px;
}

.elipse9 {
  position: absolute;
  width: 23px;
  height: 23px;
  left: 90px;
  top: 175px;
  background-image: url(src/assets/images/Ellipse9.png);
}

#section3 {
  width: 1172.34px;
  height: 734.01px;
  margin-left: 191px;
  margin-top: 261px;
  position: relative;
  display: table;
}

.title3 {
  z-index: 2;
  position: relative;
  width: 514px;
}

.hover_img1 {
  position: absolute;
  width: 870.49px;
  height: 765.75px;
  left: 305px;
  top: -150px;
  z-index: 0;
}

.block1 {
  position: absolute;
  width: 194.29px;
  height: 157.01px;
  background: linear-gradient(128.9deg, #82AED4 0.04%, #49739C 95.98%);
  box-shadow: 4px 4px 30px rgba(81, 87, 104, 0.1);
  border-radius: 10px;
  top: 78.505px;
}

.block2,
.block3,
.block4,
.block5 {
  position: absolute;
  width: 194.29px;
  height: 157.01px;
  background: #FFFFFF;
  box-shadow: 4px 4px 30px rgba(81, 87, 104, 0.1);
  border-radius: 10px;
  top: 249.065px;
}

.block3 {
  left: 208.29px;
  top: 0px;
}

.block4 {
  left: 208.29px;
  top: 170.56px;
}

.block5 {
  left: 208.29px;
  top: 341.12px;
}

.info_section {
  width: 500px;
  height: 500px;
  float: right;
  position: relative;
}

.text1 {
  width: 597px;
  z-index: 2;
  position: relative;
  font-family: HelveticaNeueCyr;
  font-size: 16px;
  line-height: 150%;
  color: #858A93;
}

.title_text1 {
  width: 517px;
  height: 99px;
  left: 191px;
  top: 1807px;
  font-family: HelveticaNeueCyr_Bold;
  font-weight: bold;
  font-size: 45px;
  line-height: 110%;
  letter-spacing: 0.03em;
  color: #404247;
  display: inline-block;
  padding-bottom: 56px;
}

.elipse9 {
  position: absolute;
  width: 23px;
  height: 23px;
  left: 858px;
  top: 2323px;
  background-image: url(src/assets/images/Ellipse10.png);
  z-index: 3;
}

.elipse10 {
  position: absolute;
  width: 223px;
  height: 223px;
  left: 0px;
  top: 2165px;
  background-image: url(src/assets/images/Ellipse11.png);
  z-index: 3;
}

.icon1 {
  width: 48.57px;
  height: 48.57px;
}

.block_content {
  width: 85%;
  margin: 0 auto;
  text-align: center;
  padding-top: 18.07px;
}

.block_text,
.block_text1 {
  font-family: HelveticaNeueCyr_Bold;
  font-weight: bold;
  font-size: 17px;
  line-height: 140%;
  margin-top: 23.72px;
  color: white;
}

.block_text1 {
  color: #404247;
}

#section4 {
  position: relative;
  width: 1440px;
  height: 560px;
}

.background {
  position: relative;
  width: 1440px;
  height: 489px;
  background: linear-gradient(89.65deg, #D6D4D5 24.84%, #F2F2F4 99.89%);
}

.liner_background {
  position: absolute;
  width: 1440px;
  height: 489px;
  left: -58px;
  top: 60px;
  background: linear-gradient(89.98deg, rgba(247, 247, 247, 0) 28.47%, #F1F1F1 46.35%, #F4F4F7 99.99%);
}

.info_section4 {
  position: absolute;
  width: 100%;
  height: 500px;
  display: flex;
}

.text4 {
  width: 553px;
  height: 400px;
  position: relative;
  z-index: 5;
}

.title4 {
  padding-top: 113px;
}

.title_text4 {
  font-family: HelveticaNeueCyr;
  font-weight: 300;
  font-size: 30px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #404247;

  span {
    font-family: HelveticaNeueCyr_Bold;
    font-weight: bold;
  }
}

.text4_info {
  width: 544px;
  height: 71px;
  font-family: HelveticaNeueCyr;
  font-size: 20px;
  line-height: 150%;
  color: #858A93;
  padding-top: 16px;
}

.adding_info {
  display: flex;
  width: 470px;
  margin-top: 41px;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.read_now_botton {
  width: 185px;
  height: 50px;
  background: linear-gradient(106.68deg, #84B1D7 2.5%, #4F7AA2 100%);
  border-radius: 50px;
  font-family: HelveticaNeueCyr;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
  margin-top: 10px;
}

.phone {
  display: flex;
  flex-wrap: wrap;
  margin-top: 17px;
}

.phone_icon {
  margin-top: 7px;
}

.number {
  padding-left: 19px;
  font-family: HelveticaNeueCyr;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0.03em;
  color: #404247;
}

.menu {
  width: 300px;
  height: 600px;
  float: left;
  margin-top: 1px;

  p:hover {
    background-color: #ccc;
  }

  p.active {
    background: linear-gradient(102.14deg, #83AFD5 0%, #527CA4 92.15%);
    color: white;
  }

  p {
    background: #F1F1F3;
    color: black;
    display: block;
    width: 324px;
    height: 64px;
    text-decoration: none;
    font-family: HelveticaNeueCyr;
    font-size: 20px;
    line-height: 64px;
    padding-left: 37px;
    color: #777A81;
    ;
  }
}

#section5 {
  width: 1307px;
  height: 515px;
  margin-top: 150px;
}

.all {
  width: 644px;
  margin: 0 auto;
}

.menu_info {
  margin-left: 192px;
}

.dropdown_info {
  width: 750px;
  height: 512px;
  background: #FFFFFF;
  box-shadow: 24px 14px 60px rgba(81, 87, 104, 0.1);
  border-radius: 10px;
  position: relative;
  z-index: 6;
  float: left;
}

.drop_title {
  width: 489px;
  height: 67px;
  display: inline-block;
  font-family: HelveticaNeueCyr;
  font-size: 30px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #404247;

}

.drop_part {
  padding-top: 44px;
  padding-bottom: 47px;
  width: 644px;
  float: left;
}

.icon {
  width: 74px;
  height: 74px;
  margin-left: 81px;
}

.text_info5 {
  padding-top: 47px;
  font-family: HelveticaNeueCyr;
  font-size: 16px;
  line-height: 150%;
  color: #858A93;

}

.read_more_botton {
  font-family: HelveticaNeueCyr_Bold;
  font-weight: bold;
  font-weight: 550;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #1F4D7F;
  width: 185px;
  height: 50px;
  border-radius: 50px;
  background-color: white;
  border: 1px solid #1F4D7F;
  margin-top: 38px;
}

#section6 {
  width: 1440px;
  height: 532px;
  margin-top: 141px;
  background: #F7F7F7;
}

.section6_title {
  width: 598px;
  height: 50px;
  font-family: HelveticaNeueCyr_Bold;
  font-weight: bold;
  font-size: 45px;
  line-height: 110%;
  letter-spacing: 0.03em;
  color: #404247;
}

.section6_text {
  width: 598px;
  margin-left: 193px;
  padding-top: 81px;
}

.section6_text1 {
  width: 570px;
  height: 165px;
  font-family: HelveticaNeueCyr;
  font-size: 16px;
  line-height: 150%;
  color: #777A81;
  margin-top: 34px;
}

.section6_text2 {
  width: 628px;
  height: 73px;
  font-family: HelveticaNeueCyr_Bold;
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  color: #606164;
  margin-top: 75px;
}

.four_image {
  width: 667px;
  height: 532px;
  float: right;
}

#slider {
  position: relative;
  text-align: center;
  top: 10px;
}

#slider {
  margin: 0 auto;
}

#slides article {
  width: 303px;
  float: left;
  margin-left: 20px;
}

#slides .slide_part {
  width: 500%;
  line-height: 0;
}

#overflow {
  width: 100%;
  overflow: hidden;
  height: 800px;
}

article .box {
  width: 100%;
}

#switch1:checked~#controls label:nth-child(5),
#switch2:checked~#controls label:nth-child(1),
#switch3:checked~#controls label:nth-child(2) {
  float: left;
  margin: 0 0 0 -84px;
  display: block;
  height: 68px;
  width: 68px;
}

#switch1:checked~#controls label:nth-child(2),
#switch2:checked~#controls label:nth-child(3),
#switch3:checked~#controls label:nth-child(4) {
  float: right;
  margin: 0 -120px 0 0;
  display: block;
  height: 68px;
  width: 68px;
}

label {
  margin-left: 15.5px;
}

label,
a {
  cursor: pointer;
}

.all1 {
  width: 377px;
}

.all1 input {
  display: none;
}

#switch1:checked~#slides .slide_part {
  margin-left: 0;
}

#switch2:checked~#slides .slide_part {
  margin-left: -80%;
}

#switch3:checked~#slides .slide_part {
  margin-left: -160%;
}

#controls {
  margin: -25% 0 0 0;
  width: 100%;
  height: 50px;
}

#active label {
  border-radius: 5px;
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #C4C4C4;
}

#active {
  margin-top: 40px;
  text-align: center;
}

#active label:hover {
  background: #76c8ff;
  background: #1F4D7F !important;
}

#switch1:checked~#active label:nth-child(1),
#switch2:checked~#active label:nth-child(2),
#switch3:checked~#active label:nth-child(3) {
  background: #1F4D7F;
  border-color: #1F4D7F !important;
}

#slides .slide_part {
  transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

.box {
  width: 303px;
  height: 757px;
  background: #FFFFFF;
  box-shadow: 0px 13px 60px rgba(81, 87, 104, 0.1);
  border-radius: 10px;
}

.all_slide_text {
  margin-left: 22px;
  padding-top: 45px;
}

.title_slider {
  width: 267px;
  height: 100px;
  font-family: HelveticaNeueCyr_Bold;
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
  text-align: left;
  letter-spacing: 0.01em;
}

.slide_text {
  width: 264px;
  height: 450px;
  font-family: HelveticaNeueCyr;
  font-size: 16px;
  line-height: 140%;
  color: #858A93;
  text-align: left;
  margin-top: 30px;
}

#read_more_slide_button {
  width: 163.43px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid #1F4D7F;
  font-family: HelveticaNeueCyr;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #1F4D7F;
  display: block;
  margin-top: 30px;
  background-color: white;
}

@media screen and (min-width: 375px) and(max-width: 378px) {
  .info {
    float: none;
  }

  #section1 {
    display: block;
    margin-left: 0px;
    width: 377px;
    margin-top: 39px;
  }

  .img_block {
    width: 376.45px;
    height: 350.92px;
  }

  .first_img {
    width: 376.65px;
    height: 326.13px;
    top: 10px;
    left: 10px;
  }

  .hover_img {
    width: 375.67px;
    height: 350.49px;
    top: 20px;
    left: -35px;
  }

  .elipse3 {
    left: 323px;
    top: 123px;
  }
  .elipse12 {
    left: 198px;
    top: 3083.72px;
  }

  .elipse13 {
    left: 287.42px;
    top: 3142.77px;
  }

  .title {
    font-size: 45px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.03em;
  }

  .info {
    width: 343px;
    height: 477px;
    margin-top: 0px;
    text-align: center;
    margin: 0 auto;
  }

  .info_about {
    margin-top: 40px;
    width: 343px;
  }

  .check_button {
    margin-top: 60px;
  }

  .title_text1 {
    font-size: 40px;
    width: 323px;
    height: 99px;
    text-align: center;
  }

  #section2 {
    width: 376px;
    height: 1000px;
    margin-left: 0px;
    margin: 0 auto;
    margin-top: 82px;
  }

  body {
    width: 370px;
  }

  .text {
    width: 343px;
    margin-left: 16px;
    margin-top: 68px;
  }

  .title2 {
    width: 377px;
    margin-left: 0;
    margin: 0 auto;
  }

  .title_text {
    width: 376px;
    height: 99px;
    text-align: center;
    margin-left: 0;
    margin: 0 auto;
    font-size: 40px;
  }

  .second_img {
    width: 298.4px;
    height: 321.07px;
  }

  .fig1,
  .fig2 {
    width: 168px;
    height: 136px;
  }

  .fig1 {
    top: 268.65px;
    left: -17.81px;
  }

  .fig2 {
    top: 51.22px;
    left: 153px;
  }

  .img_block2 {
    width: 338px;
    height: 354px;
    margin-left: 30px;
    padding-top: 70px;
  }

  #section3 {
    width: 377px;
    height: 505px;
    margin-left: 0px;
    margin-top: 172px;
  }

  .title3 {
    margin-bottom: 149px;
  }

  .title_text1 {
    font-size: 40px;
    width: 343px;
  }

  .hover_img1 {
    width: 365px;
    height: 312.25px;
    left: 8px;
    top: 200px;
  }

  .info_section {
    width: 340px;
    height: 500px;
    float: none;
    margin-top: 36px;
    margin-left: 19.6px;
  }

  .text1 {
    width: 343px;
    margin-left: 16px;
    padding-top: 51px;
  }

  .block1 {
    width: 164.11px;
    height: 132.62px;
  }

  .block2,
  .block3,
  .block4,
  .block5 {
    width: 164.11px;
    height: 132.62px;
    top: 220.501px;
  }

  .block3 {
    left: 174.54px;
    top: 0px;
  }

  .block4 {
    left: 174.54px;
    top: 143.1px;
  }

  .block5 {
    left: 174.54px;
    top: 286.54px;
  }

  .block_text,
  .block_text1 {
    font-size: 14px;
  }

  .icon1 {
    width: 41px;
    height: 41px;
  }

  .testing {
    width: 46.75px;
    height: 40.55px;
  }

  .audiology {
    width: 52.16px;
    height: 39.12px;
  }

  #section4 {
    width: 377px;
    margin-top: 115px;
  }

  .background {
    width: 377px;
    height: 631px;
    background: linear-gradient(342.47deg, #E6E6E6 0%, #F6F6F8 107.51%);
  }

  .title_text4 {
    width: 325px;
    font-size: 30px;
  }

  .title4 {
    padding-top: 84px;
    margin-left: 22px;
  }

  .text4_info {
    width: 334px;
    margin-top: 30px;
    margin-left: 17px;
  }

  .adding_info {
    flex-direction: row-reverse;
    display: block;
    width: 343px;
    margin-left: 17px;
  }

  .phone {
    padding-top: 30px;
  }

  .read_now_botton {
    margin-top: 53px;
  }

  #section5 {
    width: 377px;
    height: 825px;
    margin-left: 0;
    position: relative;
    overflow: hidden;
  }

  #section6 {
    height: 950px;
    width: 377px;
    margin-top: 64px;
    overflow: hidden;
  }

  .four_image {
    float: none;
    width: 437.89px;
    height: 338px;
    position: relative;
    left: -60px;

  }

  .section6_title {
    width: 212px;
    height: 50px;
    margin: 0px;
  }

  .section6_text {
    width: 342px;
    margin-left: 17px;
    height: 500px;
    padding-top: 0;
  }

  .section6_text1 {
    width: 342px;
    height: 300px;
  }

  .section6_text2 {
    width: 342px;
    margin-top: 64px;
  }
}
