<section id="section1">
  <div class="section1_img_block">
    <img src="assets/images/hover1.png" class="hover_img">
    <img src="assets/images/image1.png" class="first_img">
  </div>
  <div class="info_for_section1">
    <h1 class="title_for_section1">
      {{'MAIN.SECTION1.TITLE'|translate}}
    </h1>
    <div class="info_about_for_section1">
      {{'MAIN.SECTION1.INFO'|translate}}
    </div>
    <input type="button" value=" {{'MAIN.SECTION1.BUTTON'|translate}}" class="check_button">
  </div>
</section>
<section id="section2">
  <div class="title_for_section2">
    <h1 class="title_text">
      {{'MAIN.SECTION2.TITLE'|translate}}
    </h1>
  </div>
  <div class="img_block2">
    <div class="fig1"></div>
    <div class="fig2"></div>
    <img src="assets/images/img2.png" class="second_img">
  </div>
  <div class="text_for_section2">
    <div class="text_for_section2_part1">{{'MAIN.SECTION2.INFO1'|translate}}</div>
    <div class="text_for_section2_part2">{{'MAIN.SECTION2.INFO2'|translate}}</div>
    <div class="text_for_section2_part3">{{'MAIN.SECTION2.INFO3'|translate}}</div>
    <div class="text_for_section2_part4">{{'MAIN.SECTION2.INFO4'|translate}}</div>
  </div>
</section>
<section id="section3">
  <img src="assets/images/hover2.png" class="hover_img1">
  <span class="title_for_section3">
    <h1 class="title_text1">
      {{'MAIN.SECTION3.TITLE'|translate}}
    </h1>
  </span>
  <div class="info_section">
    <div class="block1">
      <div class="block_content">
        <img src="assets/images/Union3.png" alt="" class="icon1">
        <div class="block_text">{{'MAIN.SECTION3.BLOCK_TEXT'|translate}}</div>
      </div>
    </div>
    <div class="block2">
      <div class="block_content">
        <img src="assets/images/Union4.png" alt="" class="icon1 audiology">
        <div class="block_text1">{{'MAIN.SECTION3.BLOCK_TEXT1'|translate}}</div>
      </div>
    </div>
    <div class="block3">
      <div class="block_content">
        <img src="assets/images/Union5.png" alt="" class="icon1">
        <div class="block_text1"> {{'MAIN.SECTION3.BLOCK_TEXT2'|translate}}</div>
      </div>
    </div>
    <div class="block4">
      <div class="block_content">
        <img src="assets/images/Union6.png" alt="" class="icon1 testing">
        <div class="block_text1">{{'MAIN.SECTION3.BLOCK_TEXT3'|translate}}</div>
      </div>
    </div>
    <div class="block5">
      <div class="block_content">
        <img src="assets/images/Union7.png" alt="" class="icon1">
        <div class="block_text1">{{'MAIN.SECTION3.BLOCK_TEXT'|translate}}</div>
      </div>
    </div>
  </div>
  <div class="text_for_section3">
    <div class="text_for_section2_part1">{{'MAIN.SECTION3.INFO1'|translate}}</div>
    <div class="text_for_section2_part2">{{'MAIN.SECTION3.INFO2'|translate}}</div>
    <div class="text_for_section2_part3">{{'MAIN.SECTION3.INFO3'|translate}}</div>
  </div>
</section>
<section id="section4">
  <app-read-more></app-read-more>
  <div class="info_for_section4">
    <div class="text_for_setion4">
      <div class="title_for_section4">
        <h1 class="title_text4">
          {{'MAIN.SECTION4.TITLE1'|translate}}<span
            class="bold">{{'MAIN.SECTION4.TITLE1_BOLD'|translate}}</span>{{'MAIN.SECTION4.TITLE2'|translate}} <span
            class="bold">{{'MAIN.SECTION4.TITLE2_BOLD'|translate}}</span>
        </h1>
      </div>
      <div class="text4_info">{{'MAIN.SECTION4.TEXT'|translate}}</div>
      <div class="adding_info">
        <div class="phone">
          <div class="phone_icon">
            <img src="assets/images/phone.png" alt="">
          </div>
          <div class="number">(308) 555-0121</div>
        </div>
        <input type="button" class="read_now_botton" value="{{'MAIN.SECTION4.BUTTON'|translate}}">
      </div>
    </div>
  </div>
  <div class="liner_background"></div>
</section>
<section id="section5">
  <div class="menu_info">
    <div class="menu">
      <p class="active">{{'MAIN.SECTION5.MENU_PART'|translate}}</p>
      <p>{{'MAIN.SECTION5.MENU_PART1'|translate}}</p>
      <p>{{'MAIN.SECTION5.MENU_PART2'|translate}}</p>
      <p>{{'MAIN.SECTION5.MENU_PART3'|translate}}</p>
      <p>{{'MAIN.SECTION5.MENU_PART4'|translate}}</p>
      <p>{{'MAIN.SECTION5.MENU_PART5'|translate}}</p>
      <p>{{'MAIN.SECTION5.MENU_PART6'|translate}}</p>
      <p>{{'MAIN.SECTION5.MENU_PART7'|translate}}</p>
    </div>}
    <div class="dropdown_info">
      <div class="all_dropdown_info">
        <div class="drop_part">
          <div class="drop_title">{{'MAIN.SECTION5.TITLE'|translate}}</div>
          <img src="assets/images/Union1.png" class="icon" alt="">
        </div>
        <div class="text_info5">
          <div class="text_for_section5_part1">{{'MAIN.SECTION5.INFO1'|translate}}</div>
          <div class="text_for_section5_part2">{{'MAIN.SECTION5.INFO2'|translate}}</div>
        </div>
        <input type="button" class="read_more_botton" value="{{'MAIN.SECTION5.BUTTON'|translate}}">
      </div>
    </div>
  </div>

  <div class="all1">
    <input checked type="radio" name="respond" id="desktop">
    <article id="slider">
      <input checked type="radio" name="slider" id="switch1">
      <input type="radio" name="slider" id="switch2">
      <input type="radio" name="slider" id="switch3">
      <div id="slides">
        <div id="overflow">
          <div class="slide_part">
            <article>
              <div class="box">
                <div class="all_slide_text">
                  <div class="title_slider">
                    {{'MAIN.SECTION5.TITLE_SLIDER'|translate}}
                  </div>
                  <div class="slide_text">
                    {{'MAIN.SECTION5.SLIDE_TEXT'|translate}}
                  </div>
                  <input type="button" value="{{'MAIN.SECTION5.BUTTON2'|ranslate}" id="read_more_slide_button" class="read_more_slide_button">
                </div>
              </div>
            </article>
            <article>
              <div class="box">
                <div class="all_slide_text">
                  <div class="title_slider">
                    {{'MAIN.SECTION5.TITLE_SLIDER'|translate}}
                  </div>
                  <div class=" slide_text">
                  {{'MAIN.SECTION5.SLIDE_TEXT'|translate}}
                </div>
                <input type="button" value="Read More" id="read_more_slide_button" class="read_more_slide_button">
              </div>
          </div>
    </article>
    <article>
      <div class="box">
        <div class="all_slide_text">
          <div class="title_slider">
            {{'MAIN.SECTION5.TITLE_SLIDER'|translate}}
          </div>
          <div class="slide_text">
            {{'MAIN.SECTION5.SLIDE_TEXT'|translate}}</div>
          <input type="button" value="Read More" id="read_more_slide_button" class="read_more_slide_button">
        </div>
      </div>
    </article>
    <article>
      <div class="box">
        <div class="all_slide_text">
          <div class="title_slider">
            {{'MAIN.SECTION5.TITLE_SLIDER'|translate}}
          </div>
          <div class="slide_text">
            {{'MAIN.SECTION5.SLIDE_TEXT'|translate}} </div>
          <input type="button" value="Read More" id="read_more_slide_button" class="read_more_slide_button">
        </div>
      </div>
    </article>
  </div>
  </div>
  </div>
  <div id="controls">
    <label for="switch1"></label>
    <label for="switch2"></label>
    <label for="switch3"></label>
  </div>
  <div id="active">
    <label for="switch1"></label>
    <label for="switch2"></label>
    <label for="switch3"></label>
  </div>
  </article>
  </div>
</section>
<section id="section6" #decign>
  <img src="assets/images/image4.png" class="four_image" alt="">
  <div class="section6_content">
    <div class="text_for_section6">
      <h1 class="title_for_section6">{{'MAIN.SECTION6.TITLE'|translate}}</h1>
      <div class="section6_text1">
        <div class="text_for_section6_part1">{{'MAIN.SECTION6.INFO1'|translate}}</div>
        <div class="text_for_section6_part2">{{'MAIN.SECTION6.INFO2'|translate}}</div>
        <div class="section6_text2">{{'MAIN.SECTION6.TEXT_BOLD'|translate}}</div>
      </div>
    </div>
    </div>
</section>
<div class="elipse1"></div>
<div class="elipse2"></div>
<div class="elipse3"></div>
<div class="elipse4"></div>
<div class="elipse5"></div>
<div class="elipse6"></div>
<div class="elipse7"></div>
<div class="elipse9"></div>
<div class="elipse10"></div>
<div class="elipse12"></div>
<div class="elipse13"></div>
<div class="elipse14"></div>
<div class="elipse15"></div>
<div class="elipse16"></div>
<div class="elipse17"></div>
<div class="elipse18"></div>
