
*{
    margin: 0;
    font-family: HelveticaNeueCyr;
    border: 0;
    background-repeat: no-repeat;
}
@font-face {
    font-family: "HelveticaNeueCyr";  
    src: url("src/assets/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
 }
 
 @font-face {
   font-family: "HelveticaNeueCyr_Bold";  
   src: url("src/assets/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.ttf") format("truetype"); 
   font-style: normal; 
   font-weight: normal;
}
@font-face {
   font-family: "HelveticaNeueCyr_Thin";  
   src: url("src/assets/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Thin.ttf") format("truetype"); 
   font-style: normal; 
   font-weight: normal;
}
@font-face {
   font-family: "Roboto";  
   src: url("src/assets/fonts/Roboto/Roboto-Light.ttf") format("truetype"); 
   font-style: normal; 
   font-weight: normal;
}
.section1_img_block{
   width: 783.99px;
   height: 808.68px;
   position: relative;
   overflow: hidden;
}
.first_img {
   position: absolute;
   background-repeat: no-repeat;
  top: 60px;
  left: 25px;
}

#slider {
   position: relative;
   text-align: center;
   top: 10px;
 }
 
 #slider {
   margin: 0 auto;
 }
 
 #slides article {
   width: 303px;
   float: left;
   margin-left: 20px;
 }
 
 #slides .slide_part {
   width: 500%;
   line-height: 0;
 }
 
 #overflow {
   width: 100%;
   overflow: hidden;
   height: 800px;
 }
 
 article .box {
   width: 100%;
 }
 
 #switch1:checked~#controls label:nth-child(5),
 #switch2:checked~#controls label:nth-child(1),
 #switch3:checked~#controls label:nth-child(2) {
   float: left;
   margin: 0 0 0 -84px;
   display: block;
   height: 68px;
   width: 68px;
 }
 
 #switch1:checked~#controls label:nth-child(2),
 #switch2:checked~#controls label:nth-child(3),
 #switch3:checked~#controls label:nth-child(4) {
   float: right;
   margin: 0 -120px 0 0;
   display: block;
   height: 68px;
   width: 68px;
 }
 
 label {
   margin-left: 15.5px;
 }
 
 label,
 a {
   cursor: pointer;
 }
 
 .all1 {
   width: 377px;
 }
 
 .all1 input {
   display: none;
 }
 
 #switch1:checked~#slides .slide_part {
   margin-left: 0;
 }
 
 #switch2:checked~#slides .slide_part {
   margin-left: -80%;
 }
 
 #switch3:checked~#slides .slide_part {
   margin-left: -160%;
 }
 
 #controls {
   margin: -25% 0 0 0;
   width: 100%;
   height: 50px;
 }
 
 #active label {
   border-radius: 5px;
   display: inline-block;
   width: 6px;
   height: 6px;
   background: #C4C4C4;
 }
 
 #active {
   margin-top: 40px;
   text-align: center;
 }
 
 #active label:hover {
   background: #76c8ff;
   background: #1F4D7F !important;
 }
 
 #switch1:checked~#active label:nth-child(1),
 #switch2:checked~#active label:nth-child(2),
 #switch3:checked~#active label:nth-child(3) {
   background: #1F4D7F;
   border-color: #1F4D7F !important;
 }
 
 #slides .slide_part {
   transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
 }
 
 .box {
   width: 303px;
   height: 757px;
   background: #FFFFFF;
   box-shadow: 0px 13px 60px rgba(81, 87, 104, 0.1);
   border-radius: 10px;
 }
 
 .all_slide_text {
   margin-left: 22px;
   padding-top: 45px;
 }
 
 .title_slider {
   width: 267px;
   height: 100px;
   font-family: HelveticaNeueCyr_Bold;
   font-weight: bold;
   font-size: 24px;
   line-height: 130%;
   text-align: left;
   letter-spacing: 0.01em;
 }
 
 .slide_text,.slide_text1 {
   width: 264px;
   height: 450px;
   font-family: HelveticaNeueCyr;
   font-size: 16px;
   line-height: 140%;
   color: #858A93;
   text-align: left;
   margin-top: 30px;
 }
 
 #read_more_slide_button {
   width: 163.43px;
   height: 50px;
   border-radius: 50px;
   border: 1px solid #1F4D7F;
   font-family: HelveticaNeueCyr;
   font-weight: 500;
   font-size: 16px;
   line-height: 140%;
   text-align: center;
   color: #1F4D7F;
   display: block;
   margin-top: 30px;
   background-color: white;
 }
 